body {
	--border-colour: rgb(146, 123, 92);
	--shadow: 0 0 10px brown;
	--radius-small: 3px;
	--radius-large: 10px;
}

h2 img {
	transform: translateY(3px);
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.outerSiteContainer {
	display: grid;
	gap: 4em;
}

summary {
	cursor: pointer;
}

.example-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
	justify-content: center;

	& input {
		width: 3em;
		text-align: center;
	}
}

a {
	color: yellow;

	&:hover {
		color: goldenrod;
	}
}

code {
	/* background-color: #32210f; */
	border: 1px solid var(--border-colour);
	border-radius: var(--radius-small);
	padding: 0.1em 0.3em;
	tab-size: 3;
}
pre {
	padding: 1em !important;
	border: 1px solid var(--border-colour);
	margin: 0;
	border-radius: var(--radius-large);
}
pre code {
	background-color: transparent;
	border: none;
}

input {
	border-radius: var(--radius-small);
	border: 1px solid var(--border-colour);
	padding: 3px;
}

.button-wrapper {
	display: flex;
	gap: 1em;
}

section {
	display: grid;
	gap: 1.5em;

	& h2 {
		margin: 0;
	}
}

details {
	border: 2px solid var(--border-colour);
	border-radius: var(--radius-large);
	overflow: hidden;

	&:not([open]) {
		& summary {
			border: none;
		}
	}

	pre {
		border: 0;
		box-shadow: none;
	}
}
summary {
	border-bottom: 2px solid var(--border-colour);
	background-color: hsl(23, 54%, 11%);
	padding: 0.5em;
	color: burlywood;
}
